html{
    background-image: linear-gradient(white, orange);
    height: 100%;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 980px;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 2em;
}
#nav-menu ul{
    list-style-type: none;
    position: relative;
    overflow: auto;
}
#nav-menu ul li{
    float: left;
}
#nav-menu ul ul{
    display: none; /*dont display submenus until hover*/
    position: absolute; /**/
    top: 100%;  /* position below the parent menu */
}
#nav-menu ul ul li{
    float: none;
}
#nav-menu ul li:hover > ul{
    display: block; /* display sub menu on hover of li */
}
#nav-menu > ul:after{
    content: "";
    display: block;
    clear: both;
}