html{
    background-image: linear-gradient(white,orange);
    height: 100%;
}
body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 980px;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 5px 5px 5px 5px;
    margin-top: 2em;
}
#nav-menu ul{
    list-style-type: none;
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#nav-menu ul li{
    display: inline;
    padding: 2em 2em 2em 2em;
}
#nav-menu ul li a{
    font-weight: bold;
    color: blue;
}
#nav-menu ul li a.current{
    text-decoration: none;
}
#nav-menu2 ul{
    list-style-type: none;
    overflow: auto;
}
#nav-menu2 ul li{
    float: left;
}
#nav-menu2 ul li a{
    display: block;
    text-align: center;
    width: 178px;
    background-color: blue;
    color: white;
    padding: 1em 1em;
    border-right: 2px  solid white;
}
#nav-menu2 ul li a.lastitem{
    border-right: none;
}